/* IMPORTING GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Fjalla+One&display=swap');

/* OVERRIDE BROWSER DEFAULTS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERAL STYLES */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Cantarell',sans-serif;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    color: whitesmoke;
}

/* HEADER */
header {
    height: 0;
    color: whitesmoke;
}

header a {
    text-decoration: none;
    color: inherit;
}

/* FLOATING TITLE */
#title-area {
    background-color: rgba(59, 77, 102, 0.8);
    position: relative;
    width: fit-content;
    top: 40px;
    padding: 0.5rem 0.5rem 0.5rem 20%;
}
/* END OF FLOATING TITLE */

/* NAVBAR AT THE BOTTOM FOR MOBILE */
#nav-area {
    background: #3b4d66;
    position: fixed;
    bottom: 0%;
    z-index: 99;
    width: 100%;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

nav {
    background-color: #3b4d66;
    position: absolute;
    bottom: 100%;
    width: 100%;
    display: none;
}

#menu {
    background-color: #f2eace;
    color: #3b4d66;
    border: 2px solid #3b4d66;
    text-align: center;
    list-style-type: none;
}

#menu>li {
    margin: 1rem;
}

#nav-toggle {
    display: none;
}

#nav-toggle:checked~nav {
    display: block;
}

.nav-toggle-label {
    font-size: 1.5rem;
}

.current-page {
    border-bottom: 1px solid #3b4d66;
}


/* MAIN */
main {
    flex-grow: 1;
}

/* FOOTER */
#social-networks {
    background-color: #f2eace;
    border: 2px solid #3b4d66;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    /* move up due to navbar at the bottom */
    margin-bottom: 49px;
}

#social-networks i {
    font-size: 1.25rem;
    color: #3b4d66;
}

@media screen and (min-width: 768px) {
    #title-area {
        font-size: 1.2rem;
        padding: 0.8rem 0.8rem 0.8rem 20%;
    }
}

/* MOVE NAVBAR TO THE TOP FOR LAPTOPS AND DESKTOPS */
@media screen and (min-width: 992px) {
    /* push body content down to account for new navbar at the top */
    header {
        height: 47.59px;
    }
    /* increase title size slightly */
    #title-area {
        font-size: 1.5rem;
        top: 89px;
        padding: 1rem 1rem 1rem 20%;
    }

    /* moving navbar up */
    #nav-area {
        position: fixed;
        top: 0%;
        height: 35px;
    }

    nav {
        display: block;
        position: static;
        width: 100%;
    }

    #menu {
        background-color: #3b4d66;
        color: whitesmoke;
        display: flex;
        justify-content: center;
    }

    #menu>li {
        margin: 0.8rem 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    .current-page {
        border-bottom: 1px solid whitesmoke;
    }
     
    /* move social bar back down */
    #social-networks {
        margin-bottom: 0;
    }
    
}