/* OVERRIDE BROWSER DEFAULTS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERAL STYLES */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #d8ca8d;
}

h1 {
    text-transform: uppercase;
    color: whitesmoke;
}

/* HEADER */
header {
    color: whitesmoke;
}

header a {
    text-decoration: none;
    color: inherit;
}

/* FLOATING TITLE */
#title-area {
    background-color: rgba(59, 77, 102, 0.8);
    position: relative;
    width: fit-content;
    top: 40px;
    padding: 0.5rem 0.5rem 0.5rem 20%;
}
/* END OF FLOATING TITLE */

/* MAIN */
main {
    background-color: #d8ca8d;
    flex-grow: 1;
}

/* FOOTER */
#social-networks {
    background-color: #f2eace;
    border: 2px solid #3b4d66;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 1.25rem;
    color: #3b4d66;
}